:root {
	--bg-color: rgb(41, 41, 41);
	--main-txt-color: rgb(214, 214, 214);
	--h-and-f-bg-color: #111;
	--header-hover-color: rgb(55, 55, 55);
	--footer-txt-color: #999;
}

[data-theme="light"] {
	--bg-color: rgb(246,246,246);
	--main-txt-color: rgb(33, 33, 33);
	--h-and-f-bg-color: rgb(255,255,255);
	--header-hover-color: rgb(230, 230, 230);
	--footer-txt-color: #999;
}

.navbodywrap 
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.footer, .push 
{
	height: 4em;
}
.header
{
	font-family: "Arial";
	margin-top: 0;
	padding: 0;
	background-color: var(--h-and-f-bg-color);
	position: fixed;
	top: 0;
	width: 100%;
	height: 74px;
}
.headerElement
{
	font-size: 14px;
	float: right;
	display: block;
	color: var(--main-txt-color);
	text-align: center;
	padding: 15px;
	padding-bottom: 28px;
	padding-top: 30px;
	text-decoration: none;
}
.headerElement:hover
{
	background-color: var(--header-hover-color);
}
.name
{
	font-size: 32px;
	float: left;
	color: var(--main-txt-color);
	text-align: center;
	padding-top: 20px;
	padding-left: 24px;
	text-decoration: none;
}
.footer
{
	clear: both;
	text-align: right;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 8px;
	height: 18px;
	color: var(--footer-txt-color);
	background-color: var(--h-and-f-bg-color);
	bottom: -34;
}
/*--------------------------------------------------- PRESET CSS -------------------------------------------------------------------------------------------*/
body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
body {
	/* background-image:url(images/topLine.png); */
	background-position:left top;
	background-repeat:repeat-x;
	background-color: var(--bg-color);
	background-attachment:scroll;
	background-size:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color: var(--main-txt-color);
}
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color: var(--main-txt-color);
}
h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color: var(--main-txt-color);
}
h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color: var(--main-txt-color);
}
h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color: var(--main-txt-color);
}
h5 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color: var(--main-txt-color);
}
h6 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color: var(--main-txt-color);
}
h1, h2, h3, h4, h5, h6 {
	padding-bottom: 6px;
	border-bottom: 1px solid var(--main-txt-color);
}
a img {
	border: 0 solid;
}
:focus {
	outline: none;
}
p {
	line-height: 1.7;
}
ul, ol {
	margin: 0;
	padding: 0 0 0 20px;
	list-style-image: none;
}
li {
	margin: 0;
	padding: 0 0 15px;
}
ol {
	list-style-image: none;
	padding-left: 23px;
}
hr {
	border-top: 1px solid var(--main-txt-color);
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background: var(--bg-color);
	border-width:1px;
	border-style:solid;
	border-color:#dbdbdb;
	color: var(--main-txt-color);
	padding:6px;
}
td {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/* CHANGED background:#f8f8f8; */
	border-width:0px;
	border-style:solid;
	border-color: var(--main-txt-color);
	color: var(--main-txt-color);
	padding:1px;
}
/*--------------------------------------------------- COMMON USAGE CSS -------------------------------------------------------------------------------------------*/
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.clearDiv {
	clear: both;
}
.page-width {
	width: 960px;
	margin: 0 auto;
}
/*--------------------------------------------------- TOP AREA CSS -----------------------------------------------------------------------------------------*/
.bannerImage img {
	display: block;
}
.tableRow {
	display: table-row;
}
.tableCell {
	display: table-cell
}

/*--------------------------------------------------- Random -----------------------------------------------------------------------------------------*/

.headshot {
	max-width: 100%;
	border: 0px solid;
	border-color: currentcolor;
	width: 259px;
	margin-right: 10px;
	padding-top: 10px;
	background: transparent;
	cursor:pointer;
	float:left;
}


/*--------------------------------------------------- LightMode Switch -----------------------------------------------------------------------------------------*/
/*Simple css to style it like a toggle switch*/
.switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}

.switch input {
	display:none;
}

.slider {
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
}

.slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	width: 26px;
}

input:checked + .slider {
	background-color: #66bb6a;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.sliderElement
{
	padding-top: 20px;
	padding-right: 8px;
	float: right;
}